body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/2-oct-23-nindya-jasmine/img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

input {
    padding: 10px;
    border: #BEADFA solid 3px;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #FFF3DA;
}

textarea {
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #BEADFA;
    border: none;
    margin-top: 3px;
    margin-left: 3px;
    cursor: pointer;
}

#input-button {
    display: flex;
    align-self: center;
}

button:hover {
    background-color: #DFCCFB;
}

button:active {
    background-color: #FFF3DA;
    transform: translateY(5px);
}